{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="text-center">User Form</h2>
                </div>
                <div class="card-body">
                    <form method="POST" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="user-input" class="form-label">Are you sure</label>
                            
                          
                        </div>
                        <button type="submit" class="btn btn-success btn-block">delet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
